.info{
    margin:0px auto;
    margin-top:25px;
    width:80%;
}

 .info h2{
   text-align: center;
   padding: 10px ;
   background: #F4DFD0;
}

.bmi-table-info{
    margin-bottom:30px;
}

.info p{
    font-size:24px;
    margin: 10px 0;
}

.bmi-table{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

table,tr,th,td{
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border-collapse: collapse;
    border:1px solid black;
}

.info li{
    font-size: 20px;
    margin: 20px 0;

}

.bmi-overweight-risk,.risk-underweight{
    margin-bottom:30px;
}